@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@font-face {
    font-family: Header-Font;
    src: url(BEST\ IN\ CLASS.ttf);
  }


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #151515;
}

header{
    padding-top: 49.5%;
    position: relative;
    overflow: hidden;
}

nav{
    font-family: Header-Font;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    z-index: 30;
    margin-top: 1rem;
    display: flexbox;
}

nav img{
    margin-left: 3rem;
    margin-top: -1rem;
    max-width: 10rem;
}

nav ul{
    float: right;
    margin-right: 50px;
}

nav ul li{
    display: inline-block;
    margin: 0 15px;
}

nav ul li a{
    position: relative;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}

h2 {
    color: white;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .2s linear;
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

#demo {
    font-size: 3rem;
    color: white;
    font-family: Header-Font;
}

#connect-button {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
#connect-button:hover {
    cursor: pointer;
}

.layer-zero{
    position: absolute;
    width: 100%;
    z-index: 14;
    top: 0%;
}

.layer-one{
    position: absolute;
    width: 100%;
    z-index: 15;
    top: -10%;
}

.layer-one-gif{
    position: absolute;
    width: 100%;
    z-index: 15;
    top: 0%;
}

.layer-two{
    position: absolute;
    width: 100%;
    z-index: 16;
    top: -10%;
}

.layer-three{
    position: absolute;
    width: 100%;
    z-index: 17;
    top: -10%;
}

.layer-four{
    position: absolute;
    width: 100%;
    z-index: 18;
    top: 0%;
}

.layer-five{
    position: absolute;
    width: 100%;
    z-index: 19;
    top: -10%;
}

.layer-six{
    position: absolute;
    width: 100%;
    z-index: 20;
    top: -10%;
}

.banner-overlay{
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    z-index: 21;
    height: 100vh;
    display: flex;
    flex-flow: column;
    background: rgba(0, 0, 0, 0.05);
    top: 0%;
}

.logo{ 
    display: flex;
    width: auto;
    height: auto;
    text-align:center;
    margin-top: -10rem;
    justify-content: center;
    align-items: center;
}
  
.logo img{
    display:inline-block;
    width: 80%;
}

.progress {
	background-color: #3a4560;
	border-radius: 5px;
    display: inline-block;
	height: 30px;
	width: 90vh;
}
.prog-long{width: 100%;}

h1{
    background: linear-gradient(135deg, #641d6d, #cf5359);
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: Header-Font;
    -webkit-background-clip: text;
    margin-bottom: 50px;
    -webkit-text-fill-color: transparent;
}

.progress-done {
	background: linear-gradient(to left, #641d6d, #cf5359);
	box-shadow: 0 3px 3px -5px #59326b, 0 2px 5px #59326b;
	border-radius: 5px;
	color: #fff;
    font-weight: 700;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
    overflow: hidden;
    white-space: nowrap;
}

#roadmap-page {
    display: flex;
    flex-direction: column;
    padding: 100px;
    margin-bottom: 200px;
}

.miles {
    display: flex;
    padding: 20px;
    padding-left: 50px;
}

.miles .spacer {
    margin-right: 17vw;
}

.milestone {
    position: relative;
    display: flex;
    width: 250px;
    flex-wrap: wrap;
    padding: 10px;
    font-size: 1.5rem;
}

#upper-miles p {
    align-self: flex-end;
}

#upper-miles .milestone::before {
    content: '';
    border-left: 6px solid white;
    height: 13px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    bottom: -15px;
}

#lower-miles .milestone::before {
    content: '';
    border-left: 6px solid white;
    height: 13px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: -15px;
}

.banner-overlay button{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 2.5rem;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 200px;
    height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(135deg,#641d6d, #cf5359);
    cursor: pointer;
}

button:hover{
    cursor: pointer;
}

.full-screen{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 21;
}

.flex-container-center{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.hidden{
    display: none;
}

.left-side p, h2{
    width: 500px;
}

.left-side .buy-now-button{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 100%;
    height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(135deg,#641d6d, #cf5359);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-side .buy-now-button:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.left-side .fa-times{
    background: #bbbbc5;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.bitbot-collection-h2{
    font-size: 40px;
}

.current-price{
    font-size: 16px;
    font-weight: 700;
    line-height: 0.9;
    margin-top: 1rem;
}

.total-price{
    font-size: 16px;
    font-weight: 700;
    line-height: 0.9;
    margin-top: 0.2rem;
}

.current-left{
    display: flex;
    align-items: center;
}

.current-price i{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: #bbbbc5;
}

.number{
    font-size: 18px;
    align-items: center;
}

.left-at-this-price{
    font-size: 12px;
    color: #bbbbc5;
    margin-left: 0.15rem;
}

.ethereum-price{
    display: flex;
    align-items: center;
    margin-top: 0.4rem;
}

.ethereum-price .fa-ethereum{
    background: linear-gradient(135deg,#ff6200, #a200fa);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    margin-right: 0.5rem;
}

.left-side p{
    font-size: 12px;
    color: #bbbbc5;
}

.left-side .cross-button{
    background: none;
    border: none;
    cursor: pointer;
    float: right;
}

.bottom-div{
    display: flex;
    align-items: center;
}

.range-input {
    display:flex;
    align-items:center;
    justify-content: left;
    border-radius:10px;  
  }
  .range-input input {
    -webkit-appearance:none;
    width:95%;
    height:7px;
    background:linear-gradient(135deg,#641d6d, #cf5359);
    border:none;
    outline:none;
    border-radius: 10px;
  }
  .range-input input::-webkit-slider-thumb {
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:5px solid gray;
    background:white;
    border-radius:50%;
  }

  .range-input input::-webkit-slider-thumb:hover{
    cursor: grab;
  }

  .range-input .value {
    color:#eee;
    text-align:center;
    font-weight:600;
    line-height:40px;
    height:40px;
    overflow:hidden;
    margin-left:10px;
  }
  .range-input .value div {
    transition:all 300ms ease-in-out;
  }
  
.sliderAmount{
    font-size: 1.5em;
    font-weight: bold;
}

.loading-gear {
    height: 80%;
}

.full-screen .bottom-div .next-btn {
    display: none;
    font-size: 2rem;
    margin-right: 4rem;
    margin-left: -2rem;
}

.next-btn:hover {
    color: gray;
    cursor: pointer;
}

section{
    width: 100%;
    background-color: #151515;
    position: relative;
}

section .container{
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

.bit-combine{
    display: inline-block;
    background: linear-gradient(135deg,#282021,#231b2e);
    width: 100%;
    text-align: center;
}

.bit-combine h1{
    font-size: 50px;
    padding-top: 2rem;
}

.container-bot-combine{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
}

.bit-combine .container-bot-combine video{
    width: 50%;
    border-radius: 10px;
    border: double 4px transparent;
    border-radius: 15px;
    background-image: linear-gradient(135deg,#282021,#231b2e), radial-gradient(circle at top left, #641d6d, #cf5359);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transform-style: preserve-3d;
    margin: 3rem;
}

.bit-combine .container-bot-combine p{
    color: white;
}

.selection-two{
    background: linear-gradient(135deg,#241c1b,#201728);
}

.bit-combine-two{
    text-align: center;
    background: linear-gradient(135deg,#282021,#231b2e);
}

.bit-combine-two h1{
    font-size: 50px;
    padding-top: 2rem;
}

.container-bot-combine .container-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    transform-style: preserve-3d;
    margin-bottom: 5rem;
}

.container-bot-combine .container-card .box{
    position: relative;
    width: 400px;
    height: 600px;
    border: double 4px transparent;
    border-radius: 15px;
    background-image: linear-gradient(135deg,#282021,#231b2e), radial-gradient(circle at top left, #641d6d, #cf5359);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transform-style: preserve-3d;
    box-shadow: 0 20px 100px rgba(0,0,0,1);
}

.full-screen .card-bot-name{
    position: absolute;
    color: #FFF;
    font-size: 40px;
    margin-top: 0.5rem;
    background: linear-gradient(135deg, #641d6d, #cf5359);
    font-weight: 500;
    text-transform: uppercase;
    font-family: Header-Font;
    -webkit-background-clip: text;
    margin-bottom: 50px;
    -webkit-text-fill-color: transparent;
    width: 100%;
}

.container-bot-combine p{
    color: white;
}

.container-bot-combine .container-card .box::before,
.container-bot-combine .container-card .box::after{
    opacity: 0.04;
}

.container-bot-combine .container-card .box .product{
    position: absolute;
    top: 48%;
    left: 50%;
    width: 380px;
    max-width: 100vw;
    transition: 0.5s;
    z-index: 11;
    transform-style: preserve-3d;
    transform: translate3d(-50%, -50%, 0px);
}

.container-bot-combine .container-card .box:hover .product{
    opacity: 0;
}

.full-screen .product {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.flex-center {
    width: 100%;
    min-height: 7vh;
    background: #000;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.icon-3d {
    padding-left: 50px;
    padding-right: 50px;
    -webkit-animation: icon3d 200ms 10;
    animation: icon3d 200ms 10;
    color: #fff;
}
.icon-3d:hover {
    -webkit-animation: icon3d 200ms infinite;
    animation: icon3d 200ms infinite;
}
@keyframes icon3d {
    0% {
        text-shadow: 5px 4px rgba(244, 67, 54, 1), -5px -6px rgba(33, 150, 243, 1);
   }
    25% {
        text-shadow: -5px -6px rgba(244, 67, 54, 1), 5px 4px rgba(33, 150, 243, 1);
   }
    50% {
        text-shadow: 5px -4px rgba(244, 67, 54, 1), -8px 4px rgba(33, 150, 243, 1);
   }
    75% {
        text-shadow: -8px -4px rgba(244, 67, 54, 1), -5px -4px rgba(33, 150, 243, 1);
   }
    100% {
        text-shadow: -5px 0 rgba(244, 67, 54, 1), 5px -4px rgba(33, 150, 243, 1);
   }
}

.combining-area{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#282021,#231b2e);
}

.combining-area .combine-title{
    padding-top: 5rem;
    text-align: center;
    width: 100%;
}

.combining-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.full-screen #preview-box {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 400px;
    min-height:600px ;
    justify-content:unset;
}

#preview-box {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    max-width: 400px;
    margin: 4rem;
    border: double 4px transparent;
    border-radius: 15px;
    background-image: linear-gradient(135deg,#282021,#231b2e), radial-gradient(circle at top left, #fb7ba2,#fce043);
    background-origin: border-box;
    background-clip: content-box, border-box;
    transform-style: preserve-3d;
    box-shadow: 0 20px 100px rgba(0,0,0,1);
    z-index: 11;
}

.fade{
    background-image: linear-gradient(135deg,#282021,#231b2e), radial-gradient(circle at top left, #641d6d, #cf5359)!important;
}

#preview-box .pre-box {
    display: flex;
    justify-content: center;
}

.combining-container #preview-box {
    min-width: 400px;
}

#preview-box .pre-box img {
    max-width: 100%;
    max-height: 98%;
    transition: 0.5s;
}

#preview-box .pre-box div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 215px;
    transition: 0.5s;
    max-width: 100vw;
}

#preview-box .pre-box div {
    border: double 2px transparent;
    border-radius: 15px;
    background-image: linear-gradient(135deg,#282021,#231b2e), radial-gradient(circle at top left, #fff,rgb(126, 126, 126));
    background-origin: border-box;
    background-clip: content-box, border-box;
}

#preview-box .inv div :hover {
    opacity: 0;
}

#preview-box .fly {
    position: relative;
    height: 100%;
}
#preview-box .fly div {
    opacity: 0;
    position: absolute;
    left: -162px;
    top: -150px;
    width: 700px;
    height: 900px;
    transform: translate3d(0,0, 75px);
}

#preview-box:hover .fly div  {
    opacity: 1;
}

#preview-box .pre-box#top-box div {
    height: 120px;
}

h3{
    background: linear-gradient(135deg, #641d6d, #cf5359);
    font-size: 40px;
    font-weight: 200;
    text-transform: uppercase;
    font-family: Header-Font;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0.2em;
    transition: 0.5s;
    transform-style: preserve-3d;
}

#preview-box .box .part{
    position: absolute;
    transform-style: preserve-3d;
    opacity: 0;
    z-index: 10;
    transition: 0.5s;
    max-width: 40%;
}

#preview-box:hover .inv{
    opacity: 0;
}

.forge-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.forge-button button{
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 1.2rem;
    margin: 1.5rem;
    color: white;
    border-radius: 5px;
    border-style: none;
    width: 400px;
    height: 50px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-image: linear-gradient(135deg,#641d6d, #cf5359);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forge-button button:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

  .forge-animation{
    position:absolute;
    width: 100%;
    height: 100%;
}

.forge-animation img{
    background-color: transparent;
    background-repeat: no-repeat;
    transform: rotate(90deg);
    width: 700px;
    margin-top: 125px;
    margin-left: -155px;
}

.hidden{
    display: none;
}

.timeline main {
    min-width: 300px;
    max-width: 500px;
    margin: auto;
}
.timeline p {
    font-size: 1em;
    line-height: 1.75em;
    border-top: 3px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    border-width: 3px;
    margin: 0;
    padding: 40px;
    counter-increment: section;
    position: relative;
    color: #fff;
}
.timeline p:before {
    content: counter(section);
    position: absolute;
    border-radius: 50%;
    padding: 10px;
    height: 1.25em;
    width: 1.25em;
    background-color: #34435e;
    text-align: center;
    line-height: 1.25em;
    color: #fff;
    font-size: 1em;
}

.timeline .done:before{
   background-image: linear-gradient(135deg,#641d6d, #cf5359);
}

.timeline p:nth-child(odd) {
    border-right: 3px solid;
    padding-left: 0;
}
.timeline p:nth-child(odd):before {
    left: 100%;
    margin-left: -20px;
}
.timeline p:nth-child(even) {
    border-left: 3px solid;
    padding-right: 0;
}
.timeline p:nth-child(even):before {
    right: 100%;
    margin-right: -20px;
}
.timeline p:first-child {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.timeline p:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.dropbtn {
    text-align: center;
    background-color: white;
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 1.2rem;
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 400px;    
    border-radius: 5px;
  }
  .db1{margin-right: 110px;}
  .db2{margin-left: 110px;}
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 400px;
    max-height: 800px;
    overflow-y: scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 12;
    bottom: 95%;
    border: double 4px transparent;
    border-radius: 15px 15px 0 0px;
    background-image: linear-gradient(135deg,#282021,#231b2e), radial-gradient(circle at top left, #641d6d, #cf5359);
    background-origin: border-box;
    border-bottom: 0;
    background-clip: content-box, border-box;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: white;
  }

  .drop-element {
      display: flex;
      align-items: center;
  }

  .drop-element h2 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
  }
  .drop-element img {
      width: 50px;
      margin: 10px;
  }
  .drop-element:hover {
      cursor: pointer;
      background-color: rgba(128, 128, 128, 0.226);
  }

  .part:hover {
      cursor: pointer;
  }
  .selected {
      border-color: green!important;
      border-width: 10px;
  }
  .not-selected {
      border-color: red!important;
      border-width: 10px;
  }

@media (max-width: 1550px) {
    .banner-overlay{
        top: -20%;
    }
}

@media (max-width: 1000px) {
    .container-bot-combine{
        flex-flow: column;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .bit-combine .container-bot-combine video{
        width: 100%;
    }
    
    .bit-combine h1{
        padding-top: 1;
        margin-bottom: 0px;
        font-size: 40px;
    }

    .bit-combine .container-bot-combine p{
        margin-bottom: 1.5rem;
    }

    .container-bot-combine .container-card{
        width: 100%;
    }

    .container-bot-combine .container-card #preview-box {
        margin: 0;
        min-width: 400px;
    }

    .container-bot-combine .container-card #preview-box div {
        top: auto;
        left: auto;
    }

    p{
        font-size: 20px;
    }

    nav{
        display: none;
    }

    h1 {
        font-size: 2rem;
    }

    .logo{ 
        margin-top: 14rem;
    }

    header {
        padding-top: 0;
        height: 100vh;
    }

    .translate {
        height: 120vh;
        width: auto;
        transform: translate(-38%, 0);
    }
    #roadmap-page {
        flex-direction: row;
        max-width: 100%;
        padding: 0;
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .miles {
        flex-direction: column;
        padding-left: 20px;
        max-width: 47%;
    }
    .prog-long {
        width: 20px;
        height: 80vh;
    }
    .prog-long .progress-done {
        width: 100%;
    }
    .milestone {
        max-width: 100%;
    }
    .milestone p {
        font-size: 1.25rem;
    }
    .spacer {
        height: 20vh;
    }
    #upper-miles{padding-left: 0;}
    #lower-miles{padding-right: 0;}
    #upper-miles .milestone::before {
        border-left: 15px solid white;
        height: 6px;
        position: absolute;
        top: 50%;
        margin-left: -3px;
        left: auto;
        right: -15px;
    }
    #lower-miles .milestone::before {
        border-left: 15px solid white;
        height: 6px;
        position: absolute;
        top: 50%;
        margin-left: -3px;
        left: -15px;
    }
}  

@media (max-width: 550px) {
    .milestone p {
        font-size: 0.8rem;
    }
    .timeline main {
        min-width: 200px;
        max-width: 300px;
        margin: auto;
   }
}