<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
        <script src="https://kit.fontawesome.com/dae2011dd3.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script defer src="{{url_for('static', filename='scripts/script.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/eth/web3.min.js')}}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='Images/favicon.ico') }}">
        {% block head %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{url_for('combine')}}">Combine</a></li>
                <li><a href="{{url_for('wallet')}}">My Bots</a></li>
                <li><div id="connect-button">Connect</div></li>
            </ul>
            <a href="#"><img src="{{url_for('static', filename='Images/Logo-bitbot-white.png')}}" alt=""></a>
        </nav>
        <div id="main-content">
            {% block content %}
            {% endblock %}
        </div>
        <div class="flex-center">
            <a href="https://twitter.com/BitBotsNFT"><i class="fa fa-twitter fa-2x icon-3d"></i>
            <a href="https://discord.gg/yeUAFCySxd"><i class="fab fa-discord fa-2x icon-3d"></i>
        </div>

        <script src="{{url_for('static', filename='scripts/vanilla-tilt.min.js')}}"></script>
        <script type="text/javascript">
            VanillaTilt.init(document.querySelectorAll(".box"), 
            {
                max: 25,
                speed: 400
            });
        </script>
    </body>
</html>
