<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{url_for('static', filename='style/style.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Teko:wght@300;500;700&display=swap" rel="stylesheet">

        <script language="javascript" type="text/javascript" src="{{url_for('static', filename='scripts/eth/web3.min.js')}}"></script>
        <script defer src="{{url_for('static', filename='scripts/script.js')}}"></script>
        <script src="{{url_for('static', filename='scripts/jquery.connections.js')}}"></script>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        <div class="container">
            <nav class="nav">
                <div>
                    <a class="nav-link" href="{{ url_for('start') }}"><h1>Bitbots</h1></a>
                    
                </div>
                <div>
                    <a class="nav-link" href="{{ url_for('combine') }}">Combine</a>
                    <a class="nav-link" href="{{ url_for('wallet') }}">My Bots</a>
                    <div class="button" id="connect-btn">Connect</div>
                </div>
            </nav>
            <br />
            <div id="header"><h2>{% block headline %}{% endblock %}</h2></div>
            <div style="padding-bottom: 20px">
                    {% block content %}
                    {% endblock %}
            </div>
        </div>
    </body>
</html>
