{% extends 'base.html' %}

{% block title %}Bitbodddts!{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{url_for('static', filename='style/style-solobots.css')}}">
{% endblock %}

{% block content %}
<div class="solobot-container">
    <div class="mybot-card">
        <div class="card solobot">
            <div class="card__inner generated">
                <div class="card__face card__face--front">
                    <img src="{{url_for('static', filename='bots-images/'+ bot.image_file)}}" alt="">
                    <h2 class="card-bot-name">Bot #{{bot.id}}</h2>
                    <h2 class="card-bot-level">Level {{bot.level}}</h2>
                </div>
                <div class="card__face card__face--back">
                    <div class="back-card-bot-parts">
                        <div class="head">
                            <h2>Head</h2>
                            <p><span>NAME:</span> {{bot.head.name}}<br>
                                <span>PART OF:</span> {{bot.head.category.name}}<br>
                                <span>MADE BY:</span> {{bot.head.category.creator}}<br>
                                <span>RARITY:</span> {{bot.head.category.rarity}}, only {{bot.head.amount}} in existance<br>
                            </p>
                            <hr/>
                        </div>
                        <div class="body">
                            <h2>Body</h2>
                            <p><span>NAME:</span> {{bot.body.name}}<br>
                                <span>PART OF:</span> {{bot.body.category.name}}<br>
                                <span>MADE BY:</span> {{bot.body.category.creator}}<br>
                                <span>RARITY:</span> {{bot.body.category.rarity}}, only {{bot.body.amount}} in existance<br>
                            </p>
                            <hr/>
                        </div>
                        <div class="right-arm">
                            <h2>Right Arm</h2>
                            <p><span>NAME:</span> {{bot.right_arm.name}}<br>
                                <span>PART OF:</span> {{bot.right_arm.category.name}}<br>
                                <span>MADE BY:</span> {{bot.right_arm.category.creator}}<br>
                                <span>RARITY:</span> {{bot.right_arm.category.rarity}}, only {{bot.right_arm.amount}} in existance<br>
                            </p>
                            <hr/>
                        </div>
                        <div class="left-arm">
                            <h2>Left Arm</h2>
                            <p><span>NAME:</span> {{bot.left_arm.name}}<br>
                                <span>PART OF:</span> {{bot.left_arm.category.name}}<br>
                                <span>MADE BY:</span> {{bot.left_arm.category.creator}}<br>
                                <span>RARITY:</span> {{bot.left_arm.category.rarity}}, only {{bot.left_arm.amount}} in existence<br>
                            </p>
                            <hr/>
                        </div>
                        <div class="right-leg">
                            <h2>Right Leg</h2>
                            <p><span>NAME:</span> {{bot.right_leg.name}}<br>
                                <span>PART OF:</span> {{bot.right_leg.category.name}}<br>
                                <span>MADE BY:</span> {{bot.right_leg.category.creator}}<br>
                                <span>RARITY:</span> {{bot.right_leg.category.rarity}}, only {{bot.right_leg.amount}} in existence<br>
                            </p>
                            <hr/>
                        </div>
                        <div class="left-leg">
                            <h2>Left Leg</h2>
                            <p><span>NAME:</span> {{bot.left_leg.name}}<br>
                                <span>PART OF:</span> {{bot.left_leg.category.name}}<br>
                                <span>MADE BY:</span> {{bot.left_leg.category.creator}}<br>
                                <span>RARITY:</span> {{bot.left_leg.category.rarity}}, only {{bot.left_leg.amount}} in existence<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="family-tree">
        
    </div>
</div>

{% endblock %}